@import '..\..\node_modules\bootstrap\dist\css\bootstrap.css';
@import '../proyectCitas/node_modules/bootstrap-icons/font/bootstrap-icons.css';
@import './loginStyle.scss';

body{
    background-color: rgb(230, 230, 230);
}

.loginContainer{
    padding-top: 25px;
    width: 100%;
    display: flex;
    justify-content: center;

    align-items: center;
    flex-direction: column;
}

.RegisterForm{
    padding-top: 25px;
    width: 100%;
    display: flex;
    justify-content: center;

    align-items: center;
    flex-direction: column;
}

.mainContainer{
    width: 100%;
    display: flex;
    justify-content: center;

    align-items: center;
    flex-direction: column;
}

.subRow{
    margin-top: 10px;
}


